@import url("https://fonts.googleapis.com/css?family=Great+Vibes|Roboto:400,500,700,900");
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 100%;
}

body {
  background: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/navy.png");
  font-family: "Roboto", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#app {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

#app {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: ([col-start] 1fr)[24];
      grid-template-columns: repeat(24, [col-start] 1fr);
  -ms-grid-rows: ([row-start] 1fr)[24];
      grid-template-rows: repeat(24, [row-start] 1fr);
      grid-template-areas: 'header' 'content';
}

.navigation {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

.main-content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: content;
}

.logo-bg {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.4;
}

.logo-bg img {
  width: 400px;
}

.logo-nav {
  display: block;
  float: left;
}

.logo-nav img {
  width: 45px;
  height: auto;
  display: block;
}

.content h1 {
  position: absolute;
  top: 0;
  bottom: 0;
  color: #181818;
  font-family: "Great Vibes", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 500;
  z-index: -1;
}

.content h1 {
  font-size: 94px;
}

@media (min-width: 400px) and (max-width: 1000px) {
  .content h1 {
    font-size: calc(94px + 86 * (100vw - 400px) / 600);
  }
}

@media (min-width: 1000px) {
  .content h1 {
    font-size: 180px;
  }
}

.content h2 {
  padding-top: 100px;
  color: #ffffff;
  font-family: "Roboto", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  z-index: 1;
}

.content h2 {
  font-size: 32px;
}

@media (min-width: 400px) and (max-width: 1000px) {
  .content h2 {
    font-size: calc(32px + 40 * (100vw - 400px) / 600);
  }
}

@media (min-width: 1000px) {
  .content h2 {
    font-size: 72px;
  }
}

.content .sub-text {
  color: #939393;
  margin-bottom: 35px;
  letter-spacing: 3px;
}

.content .sub-text {
  font-size: 12px;
}

@media (min-width: 400px) and (max-width: 1000px) {
  .content .sub-text {
    font-size: calc(12px + 4 * (100vw - 400px) / 600);
  }
}

@media (min-width: 1000px) {
  .content .sub-text {
    font-size: 16px;
  }
}

.content p {
  color: #ffffff;
  padding-right: 50%;
  letter-spacing: 3px;
}

.content p {
  font-size: 12px;
}

@media (min-width: 400px) and (max-width: 1000px) {
  .content p {
    font-size: calc(12px + 4 * (100vw - 400px) / 600);
  }
}

@media (min-width: 1000px) {
  .content p {
    font-size: 16px;
  }
}

.content p:first-child {
  padding-top: 150px;
}

.content p:last-child {
  margin-bottom: 30px;
}

.top-me,
.top-work {
  margin-top: 8%;
}

.top-contact {
  margin-top: 30%;
}

.side-space {
  margin-right: 20px;
}

.btn {
  color: #db162f;
  padding: 8px 12px;
  margin-top: 20px;
  border: 1px solid #db162f;
  font-size: 11px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn:hover {
  background: #db162f;
  color: #ffffff;
}

.tag {
  background-color: #db162f;
  background-image: linear-gradient(147deg, #db162f 0%, #ff2525 74%);
  color: #ffffff !important;
}

.hide {
  display: none;
}

.hide-overlay {
  visibility: hidden;
  opacity: 0;
}

.mobileToggle {
  opacity: 1 !important;
}

.spacer {
  padding-top: 150px;
}

.about-proj {
  margin-bottom: 50px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  .navigation {
    grid-column: col-start 1 / span 24;
    grid-row: row-start / 25;
  }
  .main-content {
    grid-column: col-start 1 / span 25;
    grid-row: row-start 3 / 25;
  }
  .side-navbar {
    background: #db162f;
    height: 60px;
    z-index: 9999;
  }
  .side-navbar {
    background: #db162f;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    overflow: hidden;
  }
  .side-navbar .logo-nav {
    display: block;
    padding: 2px 8px;
    float: left;
  }
  .side-navbar .logo-nav img {
    margin: 4px auto;
    width: 35px;
    height: auto;
    display: block;
  }
  .side-navbar .nav {
    display: none;
  }
  .side-navbar ul {
    display: none;
  }
  .side-navbar .menuOne {
    position: relative;
    width: 30px;
    height: 30px;
    float: right;
    -webkit-transition: 0.1s;
    transition: 0.1s;
    margin: 17px 10px;
    cursor: pointer;
    display: inline-block;
  }
  .side-navbar .menuOne span {
    width: 5px;
    height: 5px;
    background-color: #ffffff;
    display: block;
    border-radius: 50%;
  }
  .side-navbar .menuOne:hover span {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
    -webkit-transition: 350ms cubic-bezier(0.8, 0.5, 0.2, 1.4);
    transition: 350ms cubic-bezier(0.8, 0.5, 0.2, 1.4);
    -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
            box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  }
  .side-navbar .menuOne span:nth-child(1) {
    position: absolute;
    left: 0;
    top: 0;
  }
  .side-navbar .menuOne span:nth-child(2) {
    position: absolute;
    left: 12px;
    top: 0;
  }
  .side-navbar .menuOne span:nth-child(3) {
    position: absolute;
    right: 0;
    top: 0;
  }
  .side-navbar .menuOne span:nth-child(4) {
    position: absolute;
    left: 0;
    top: 12px;
  }
  .side-navbar .menuOne span:nth-child(5) {
    position: absolute;
    left: 12px;
    top: 12px;
  }
  .side-navbar .menuOne span:nth-child(6) {
    position: absolute;
    right: 0px;
    top: 12px;
  }
  .side-navbar .menuOne span:nth-child(7) {
    position: absolute;
    left: 0px;
    bottom: 0px;
  }
  .side-navbar .menuOne span:nth-child(8) {
    position: absolute;
    left: 12px;
    bottom: 0px;
  }
  .side-navbar .menuOne span:nth-child(9) {
    position: absolute;
    right: 0px;
    bottom: 0px;
  }
  .side-navbar .clickMenuOne {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    cursor: pointer;
    -webkit-transition: 0.2s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    transition: 0.2s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  }
  .side-navbar .clickMenuOne span {
    border-radius: 50%;
    -webkit-transition-delay: 200ms;
            transition-delay: 200ms;
    background-color: rgba(255, 255, 255, 0.767);
    -webkit-transition: 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
    transition: 0.5s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  }
  .side-navbar .clickMenuOne span:nth-child(2) {
    position: absolute;
    left: 6px;
    top: 6px;
  }
  .side-navbar .clickMenuOne span:nth-child(4) {
    position: absolute;
    left: 6px;
    top: 18px;
  }
  .side-navbar .clickMenuOne span:nth-child(6) {
    position: absolute;
    right: 6px;
    top: 6px;
  }
  .side-navbar .clickMenuOne span:nth-child(8) {
    position: absolute;
    left: 18px;
    bottom: 6px;
  }
  .mobile-navbar-container {
    position: absolute;
    top: 95px;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .mobile-navbar-container .triangle-up {
    position: absolute;
    top: -35px;
    bottom: 0;
    left: 93%;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 35px solid #db162f;
  }
  .mobile-navbar-container .mobile-navbar {
    background: #db162f;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "ho ab wo co";
    text-align: center;
  }
  .mobile-navbar-container .mobile-navbar a {
    z-index: 9999;
    color: #ffffff;
    display: block;
    padding: 10px 20px;
  }
  .mobile-navbar-container .mobile-navbar a:hover {
    background: #ffffff;
    color: #db162f;
  }
  .content {
    padding: 20px;
  }
  .content p {
    padding-right: 0;
  }
  .content p:first-child {
    padding-top: 100px;
  }
  .nav {
    display: none;
  }
  ul {
    display: none;
  }
  .overlay {
    display: none;
  }
  .contact-area {
    display: none;
  }
  .top-front {
    margin-top: 40%;
  }
  .top-me,
  .top-work {
    margin-top: 8%;
  }
  .top-contact {
    margin-top: 30%;
  }
  .contact h1 {
    position: relative;
    margin-bottom: 0;
  }
  .contact form {
    padding-top: 20px;
  }
  .contact .btn {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 1224px) {
  .navigation {
    grid-column: col-start / span 1;
    grid-row: row-start / 25;
  }
  .main-content {
    grid-column: col-start 2 / span 25;
    grid-row: row-start / 25;
  }
  .mobile-navbar-container {
    display: none;
  }
  .side-navbar {
    background-color: #db162f;
    background-image: linear-gradient(147deg, #db162f 0%, #ff2525 74%);
    position: fixed;
    top: 0;
    bottom: 0;
    width: 60px;
    height: 100%;
    overflow: hidden;
  }
  .side-navbar .logo-nav {
    display: block;
    padding: 8px;
  }
  .side-navbar .logo-nav img {
    margin: 8px auto;
    width: 45px;
    height: auto;
    display: block;
  }
  .side-navbar .nav {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    display: block;
    text-align: center;
  }
  .side-navbar .nav a {
    color: #000000;
    position: relative;
    width: 100%;
    font-size: 22px;
    display: block;
    line-height: 51px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .side-navbar .nav a:hover {
    color: #ffffff;
  }
  .side-navbar .nav a span {
    padding-bottom: 10px;
    line-height: 0;
    display: block;
    font-size: 0.5em;
  }
  .side-navbar ul {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: block;
    list-style: none;
    text-align: center;
  }
  .side-navbar ul a {
    color: #000000;
    padding: 7px 0;
    display: block;
    font-size: 15px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .side-navbar ul a:hover {
    color: #ffffff;
  }
  .top-front {
    margin-top: 20%;
  }
  .contact-text {
    display: none;
  }
  .columns {
    position: relative;
  }
  .columns .overlay {
    position: absolute;
    top: 12px;
    bottom: 0;
    width: 48.3%;
    height: 85.4%;
    text-align: center;
  }
  .columns .overlay .left {
    width: 50%;
    height: 100%;
    padding: 100px;
    font-size: 2em;
    float: left;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .columns .overlay .left:hover {
    background-color: #db162f;
    background-image: linear-gradient(147deg, #db162f 0%, #ff2525 74%);
    color: #ffffff;
    opacity: 0.9;
  }
  .columns .overlay .right {
    width: 50%;
    height: 100%;
    padding: 100px 50px;
    font-size: 2em;
    float: right;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .columns .overlay .right:hover {
    background-color: #db162f;
    background-image: linear-gradient(147deg, #db162f 0%, #ff2525 74%);
    color: #ffffff;
    opacity: 0.9;
  }
  .columns .overlay span {
    display: block;
  }
  .contact-area {
    width: 50%;
    height: auto;
  }
  .contact-area .button {
    position: fixed;
    top: 5%;
    right: 2%;
    width: 60px;
    height: 27px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 9999;
  }
  .contact-area .button span {
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 2em;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    text-transform: uppercase;
  }
  .contact-area .button span:last-child {
    color: #db162f;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }
  .contact-area .button span:last-child:hover {
    color: #ffffff;
  }
  .contact-area .button span p {
    font-family: "Roboto", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 0.4em;
  }
  .contact-area .overlay-contact {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 100%;
    width: 50%;
    height: 100%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .contact-area .overlay-contact .container {
    width: 80%;
  }
  .contact-area .overlay-contact .container form {
    max-width: 640px;
  }
  .contact-area .overlay-contact .container form .btn {
    color: #ffffff;
    padding: 8px 12px;
    border: 1px solid #ffffff;
    font-size: 11px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  .contact-area .overlay-contact .container form .btn:hover {
    background: #db162f;
    border: none;
  }
  .contact-area .overlay-contact .container form h1 {
    color: #db162f;
  }
  .contact-area .overlay-contact .container form .contact-content {
    position: absolute;
    top: 75%;
    padding: 0 0 20px 0;
  }
  .contact-area .overlay-contact .container form .contact-content span {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 3px;
  }
  .contact-area .overlay-contact .container form label {
    font-family: "Roboto", "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}
/*# sourceMappingURL=main.css.map */