:root {
  /* Colors */
  --c-red: #6E090C;
  --c-d-red: #3E0709;
  --c-gold: #D9843B;

  /* Font Family */
  --ff-babas: 'Bebas Neue', sans-serif;
  --ff-vibes: 'Great Vibes', cursive;
  --ff-incon: 'Inconsolata', monospace;
  --ff-roboto: 'Roboto', sans-serif;
  --ff-monta: 'Montagu Slab', serif;

  /* Font Size */
  /* Heading */
  /* Size 400px - 84px */
  --fz-heading-1: clamp(5.25rem, 10vw + 1rem, 25rem);
  /* Size 220px - 54px */
  --fz-heading-2: clamp(3.375rem, 10vw + 1rem, 13.75rem);
  /* Size 180px - 46px */
  --fz-heading-3: clamp(2.875rem, 10vw + 1rem, 11.25rem);
  /* Size 72px - 30px */
  --fz-heading-4: clamp(1.875rem, 10vw + 1rem, 4.5rem);
  /* Body */
  /* Size 60px - 24px */ 
  --fz-body-1: clamp(1.5rem, 10vw + 1rem, 3.75rem);
  /* Size 48px - 18px */ 
  --fz-body-2: clamp(1.125rem, 10vw + 1rem, 3rem);
  /* Size 36px - 16px */ 
  --fz-body-3: clamp(1rem, 10vw + 1rem, 2.25rem);
  /* Size 30px - 16px */ 
  --fz-body-4: clamp(1rem, 10vw + 1rem, 1.875rem);
/* Size 28px - 14px */ 
  --fz-body-5: clamp(0.875rem, 10vw + 1rem, 1.75rem);

  /* Base */
  /* Border Radius */
  --br-1: 10rem;
  --br-2: 5rem;
  --br-3: 3rem;
  --br-4: 1rem;
  --br-5: 0.875rem;
  /* Border */
  --b-1: 2px solid var(--c-gold);
}

/* Resets */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--c-d-red);
  color: var(--c-gold);
  padding: 1.5em;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Default link style */
a {
  text-decoration: none;
  display: inline-block;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: 0;
}

hr {
  color: var(--c-gold);
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Default Layout */
.container {
  width: 100%;
  height: 100%;
  background-color: var(--c-red);
  border-radius: var(--br-3);
  padding: 2rem;
}

/* Headings */
.heading-1 {
  font-family: var(--ff-babas);
  font-size: var(--fz-heading-1);
  line-height: 90%;
}

.heading-2 {
  font-family: var(--ff-babas);
  font-size: var(--fz-heading-2);
  line-height: 100%;
}

.heading-3 {
  font-family: var(--ff-babas);
  font-size: var(--fz-heading-3);
  line-height: 80%;
}

.heading-babas-4 {
  font-family: var(--ff-babas);
  font-size: var(--fz-body-4);
  line-height: 50%;
  text-transform: uppercase;
}

.heading-4 {
  font-family: var(--ff-roboto);
  font-size: var(--fz-body-4);
  line-height: 50%;
  text-transform: uppercase;
}

.heading-robo-4 {
  font-family: var(--ff-roboto);
  font-size: var(--fz-heading-4);
  line-height: 100%;
  font-weight: 400;
}

.heading-5 {
  font-family: var(--ff-roboto);
  font-size: var(--fz-body-1);
  font-weight: 300;
  line-height: 100%;
  text-transform: uppercase;
}

.body-incon-1 {
  font-family: var(--ff-incon);
  font-size: var(--fz-body-1);
  line-height: 100%;
}

.incon-default {
  font-size: 2rem;
  text-transform: uppercase;
  font-family: var(--ff-incon);
}

.body-incon-2 {
  font-family: var(--ff-incon);
  font-size: var(--fz-body-2);
  line-height: 100%;
}

.body-robo-1 {
  font-family: var(--ff-roboto);
  font-size: var(--fz-body-4);
  line-height: 100%;
}

.body-robo-2 {
  font-family: var(--ff-roboto);
  font-size: var(--fz-body-5);
  line-height: 100%;
}

.gold-bg {
  background-color: var(--c-gold);
  color: var(--c-d-red);
  padding: 5rem;
  border-radius: var(--br-3);
}

.dark-red-bg {
  background-color: var(--c-d-red);
  padding: 5rem;
  border-radius: var(--br-3);
}

.button-1 {
  border: var(--b-1);
  padding: 10px 25px;
  font-family: var(--ff-incon);
  color: var(--c-gold);
}

.button-2 {
  padding: 10px 5px 10px 25px;
  background-color: var(--c-d-red);
  font-family: var(--ff-roboto);
  font-size: var(--fz-body-4);
  border-radius: 5rem;
}
.button-2 span {
  padding-right: 20px; 
  color: var(--c-gold);
}
.button-2 i {
  padding: 12px;
  border-radius: 50%;
  background-color: var(--c-gold);
  color: var(--c-d-red);
}
.button-3 {
  padding: 10px 5px 10px 25px;
  background-color: var(--c-gold);
  font-family: var(--ff-roboto);
  font-size: var(--fz-body-4);
  border-radius: 5rem;
}
.button-3 span {
  padding-right: 20px; 
  color: var(--c-d-red);
}
.button-3 i {
  padding: 12px;
  border-radius: 50%;
  background-color: var(--c-d-red);
  color: var(--c-gold);
}
